<div class="glossary">
  <h2><%= @glossary.name %></h2>

  <h3><%= @glossary.description %></h3>

  <div class="controls">
    <%= link_to "Edit Glossary", edit_glossary_path(@glossary), class: "button" %>
  </div>

  <%= form_for :tib_definition, remote: true, url: glossary_definitions_path(@glossary), method: :post, html: {data: {type: "json"}, id: "definition_add"} do |f| %>
    <table class="glossary_terms_add">
      <tr class="add">
        <td class="wyl"><%= f.text_field :wyl, {placeholder: "Wylie Term"} %></td>
        <td class="entry"><%= f.text_field :entry, {placeholder: "Definition Entry"} %></td>
        <td class="button"><%= f.submit 'Submit' %></td>
      </tr>
    </table>
  <% end %>

  <table class="glossary_terms">
    <% @definitions.each do |definition| %>
      <tr class="glossary_term" data-definition-id="<%= definition.id %>">
        <td class="wyl"><%= link_to definition.tib_term.wyl, tib_term_path(definition.tib_term) %></td>
        <td class="entry"><%= definition.entry %></td>
        <td class="button"><%= link_to "edit", tib_term_definition_path(definition.tib_term, definition), class: "edit" %></td>
      </tr>
    <% end %>
  </table>



  <%= will_paginate @definitions %>
</div>


<script>
  $(document).ready(function () {
    GlossaryApp.initialize();
  })
</script>