<div class="glossary">
  <h2><%= @glossary.name %></h2>
  <h3><%= @glossary.description %></h3>

  <div class="controls">
    <%= link_to "Edit Glossary", edit_glossary_path(@glossary), class: "button" %>
  </div>

  <table class="glossary_terms">
    <% @definitions.each do |definition| %>
      <tr>
        <td><%= link_to definition.tib_term.wyl, tib_term_path(definition.tib_term) %></td>
        <td> <%= definition.entry %></td>
        <td><%= link_to "edit", edit_tib_term_definition_path(definition.tib_term, definition) %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @definitions %>
</div>