<h2><%= @glossary.name %></h2>
<h3><%= @glossary.description %></h3>
<table class="glossary_terms">
  <% @definitions.each do |definition| %>
    <tr>
      <td><%= definition.tib_term.wyl %></td>
      <td> <%= definition.entry %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @definitions %>