<div class="tib_terms">
  <h2>Tibetan Dictionary</h2>

  <div class="controls">
    <%= link_to "Add New Term", new_tib_term_path %>
  </div>
  <% if @search %>
    <h3>Search results for '<strong><%= @query %></strong>'</h3>
    <% if @term %>
      <h4 class="exact_match">Exact Match</h4>
      <%= link_to @term.wyl, tib_term_path(@term.id) %>
    <% end %>

    <% if @terms.present? %>
      <h4 class="search_results">Term Search Results</h4>
      <ul class="terms">
        <% @terms.each do |term| %>
          <li><%= link_to term.wyl, tib_term_path(term.id) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @definition_terms.present? %>
      <h4 class="search_results">Definition Search Results</h4>
      <ul class="terms_from_definitions">
        <% @definition_terms.each do |term| %>
          <li><dl>
            <dt><%= link_to term.wyl, tib_term_path(term.id) %></dt>
            <dl><%= term.definitions.first.entry[0..55] %></dl>
          </dl></li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h3>Terminology</h3>
    <ul class="terms">
      <% @terms.each do |term| %>
        <li><%= link_to term.wyl, tib_term_path(term.id) %></li>
      <% end %>
    </ul>

    <%= paginate @terms %>
  <% end %>
</div>
