<h2><%= @term.wyl %> | <%= to_tibetan(@term.wyl) %></h2>
<div class="definitions">
  <dl>
    <% @glossaries.each do |glossary| %>
      <dt><%= link_to glossary[0].name, glossary_path(glossary[0]), alt: glossary[0].description %></dt>
      <% glossary[1].each do |definition| %>
        <dd><%= simple_format(add_links(definition.entry)) %></dd>
      <% end %>
    <% end %>
  </dl>

</div>
<div id="tabs">
  <ul>
    <li><a href="#term_comments">Add Comments</a></li>
    <li><a href="#add_definitions">Add Definition</a></li>
    <li><a href="#dharma_dictionary">Dharma Dictionary</a></li>
  </ul>
  <div id="tabs_container">
    <div id="term_comments" class="tab_container">
      <div id="add_comment">
        <h4>Add Comment</h4>
        <% if user_signed_in? %>
          <%= form_for :comment, remote: true, url: tib_term_comments_path(@term), method: :post, html: {data: {type: "json"}, id: "comment_add"} do |f| %>
            <div class="comment_entry">
              <%= f.text_field :title, placeholder: "Comment Title (Optional)" %>
            </div>
            <div class="comment_entry">
              <%= f.text_area :body, placeholder: "Comment Body" %>
            </div>
            <%= f.submit "Post" %>
          <% end %>
        <% else %>
          <p>Please register or login to comment.</p>
        <% end %>
      </div>
      <div id="comments">

      </div>

    </div>
    <div id="add_definitions" class="tab_container add_definition">
      <h4>Add a Definition</h4>
      <% if user_signed_in? %>

        <% if @definition.errors.any? %>
          <div class="errors">
            <ul>
              <% @definition.errors.full_messages.each do |msg| %>
                <li class="error"><span><%= msg %></span></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_for [@term, @definition], url: tib_term_definitions_path(@term), method: "post" do |f| %>
          <%= f.label "Glossary" %>
          <%= f.collection_select :glossary_id, current_user.glossaries, :id, :name, {:selected => current_user.default_glossary} %>
          <%= f.label :entry %>
          <%= f.text_area :entry %>
          <%= f.submit "Submit" %>
        <% end %>

      <% else %>
        <p>Please register or login to add a definition.</p>

      <% end %>
    </div>
    <div id="dharma_dictionary" class="tab_container">
      <h3>Dharma Dictionary</h3>

      <p class="info">These are the current entries in the
        <a href="http://rywiki.tsadra.org/" target="_blank">Dharma Dictionary</a>, a wiki format of the same
        dictionaries.
      </p>

      <div class="dd"><%= simple_format(@dd) %></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    Tabs.initialize();
  });

  $(document).ready(function () {
    CommentsApp.initialize(<%= @term.id %>);
  })
</script>