<h2><%= @term.wyl %> | <%= @term.tib %></h2>

<div class="definitions">
  <dl>
    <% @term.definitions.each do |definition| %>
      <dt><%= definition.name %></dt>
      <dd><%= simple_format(definition.entry) %></dd>
    <% end %>
  </dl>
</div>

<div class="add_definition">
  <h4>Add a Definition or Comment</h4>

  <% if @definition.errors.any? %>
    <div class="errors">
      <ul>
        <% @definition.errors.full_messages.each do |msg| %>
          <li class="error"><span><%= msg %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_for [@term, @definition], url: tib_term_definitions_path(@term), method: "post" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :entry %>
    <%= f.text_area :entry %>
    <%= f.submit "Submit" %>
  <% end %>
</div>