<tr class="glossary_term" data-definition-id="<%= term.definition_id %>">
  <td class="wyl"><a href="<%= term.tib_term_path %>"><%= term.wyl %></a></td>
  <td class="entry"><%= term.entry %></td>
  <td class="button"><a class="edit" href="<%= term.definition_path %>">edit</a></td>
</tr>