<nav class="main">
  <div class="links">
    <ul>
      <li><%= nav_link_to "Home", '/' %></li>
      <li><%= nav_link_to "About", '/about' %></li>
      <li><%= nav_link_to "Contact", '/contact' %></li>
      <li><%= nav_link_to "Dictionary", '/tib_terms/', {}, {:url_segment => 1} %></li>
      <% if user_signed_in? %>
        <li><%= nav_link_to "My glossaries", my_home_path %></li>
      <% end %>
    </ul>
  </div>
</nav>