<!DOCTYPE html>
<html>
<head>
  <title>TibetanDictionary</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="body_container">
  <header>
    <%= render 'layouts/user_navigation' %>
  </header>
  <%= render 'layouts/navigation' %>
  <section class="main">
    <div class="content_container">
      <%= render 'layouts/messages' %>
    <%= yield %>
    </div>
  </section>
  <footer>
    <div id="footer_container">
      <aside>Dedicated to Tibetan Translators past, present, and future</aside>
    </div>
  </footer>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52984453-2', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- End Google Analytics -->
</div>
</body>
</html>
