<!DOCTYPE html>
<html>
<head>
  <title>TibetanDictionary</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="body_container">
  <header>
    <div id="header_container">
      <h1>Tibetan Translator Community</h1>

      <h2>A Crowd-sourced Tibetan Dictionary</h2>
    </div>
  </header>
  <nav class="main">
    <ul>
      <li><%= nav_link_to "Home", '/' %></li>
      <li><%= nav_link_to "About", '/about' %></li>
      <li><%= nav_link_to "Contact", '/contact' %></li>
      <li><%= nav_link_to "Dictionary", '/tib_terms/', {}, {:url_segment => 1} %></li>
    </ul>
  </nav>
  <section class="main">
    <div class="content_container">
    <%= yield %>
    </div>
  </section>
  <footer>
    <div id="footer_container">
      <aside>Dedicated to Tibetan Translators past, present, and future</aside>
    </div>
  </footer>
</div>
</body>
</html>
